@use 'sass:list';
@use 'sass:meta';

@function selector(
  $prepend: null,
  $list,
  $append: null,
) {
  @warn 'This is probably going to be deprecated soon in the favor of a big selector list, rather than a selector list for each folder.';
  $processedClasses: '';

  // If $list isn't a list, convert it into one
  @if (meta.type-of($list) == 'map') {
    $values: ();
    @each $null, $value in $list {
      $values: list.append($values, $value);
    }
    $list: $values;
  }

  // Loop through the list of classes, adding prefix and suffixes if provided
  @each $class in $list {
    @if ($prepend) and ($append) {
      $processedClasses: $processedClasses #{$prepend}#{$class}#{$append}#{', '};
    } @else if ($prepend) {
      $processedClasses: $processedClasses #{$prepend}#{$class}#{', '};
    } @else if ($append) {
      $processedClasses: $processedClasses#{$class}#{$append}#{', '};
    } @else {
      $processedClasses: $processedClasses#{$class}#{', '};
    }
  }

  @return $processedClasses;
}

@mixin selector(
  $prepend: null,
  $list,
  $append: null,
) {
  @if not (content-exists()) {
    @warn what the fuck are you doing;
  }
  @at-root
    #{selector(
      $prepend: $prepend,
      $list: $list,
      $append: $append
    )} {
    @content;
  }
}
