@use 'shared' as *;

//? Boost function
@include boost('.once') { // .once.once
  color: blue;
}

#{boost('.twice', 2)} { // .twice.twice.twice
  color: cyan;
}

//? On function
#{on('osx', '.container')} { // .platform-osx .container
  color: magenta;
}

.wrapper-asdasda {
  @at-root #{on('web')} { // .platform-web .wrapper
    color: yellow;
  }

  @at-root #{on('win', $root: true)} { // .platform-linux.wrapper
    color: black;
  }
}
