$vars: (
  one: (
    two: 'three',
  ),
  four: 'five',
) !default;

//* Output:
//  :not(incompatible):root {
//    --theme-#{string}: #{value};
//    --theme-#{(sub)list}-#{string}: #{value};
//  }
