$vars: (
  one: (
    two: 'three',
  ),
  four: 'five',
) !default;

//* Output:
//  :not(__themeName__):root {
//    --__shortName__-#{string}: #{value};
//    --__shortName__-#{(sub)list}-#{string}: #{value};
//  }
