@use 'sass:meta';
@use './custom-props.scss' as *;

// https://stackoverflow.com/a/72114019
@mixin map-convert-css-vars(
  $map,
  $prefix,
  $key: ''
) {
  @each $name, $value in $map {
    $key-copy: $key;
    $key: #{$key}-#{$name};
    @if (meta.type-of($value) == 'map') {
      @include map-convert-css-vars($value, $prefix, $key);
    } @else {
      --#{$prefix}#{$key}: #{$value};
    }
    $key: $key-copy;
  }
}
:not(incompatible):root {
  @include map-convert-css-vars($vars, 'theme');
}
